<body id="mainpageimage">
<h1 id="pageheader">About Us</h1>

        <div class="jumbotron center-block">
          <p>
            Battery Alexander Partners is a San Francisco Bay Area based real estate investment and advisory firm.
          	<br> <br>
            The firm was founded with the goal of bringing an institutional-level perspective to the middle-market. Cumulatively, our Principals have completed more than $500M in real estate transactions, and have managed over $1B in real estate.
           	<br> <br>
           	Our company provides both principal investment services, acquiring and managing investments on behalf of our partners, and advisory services, providing advice and strategic research to partners undertaking their own investments. By participating in both capacities, Battery Alexander is able to bring a depth of knowledge to its investments and services, and also sees a broad set of potential investments in the California real estate marketplace.
           	<br> <br>
			Battery Alexander’s team has extensive experience investing in and managing multi-family, retail, office, industrial, triple-net and self-storage properties on a national basis and has completed advisory work for private sector, public sector and non-profit clients. Contact us to learn more about our company and services.
			<br>
          </p>

        </div>
</body>

