<body id="mainpageimage">
<h1 id="pageheader">About Us</h1>

        <div class="jumbotron center-block">
          <p>
            Battery Alexander Partners is a San Francisco Bay Area based real estate investment and advisory firm.
          	<br> <br>
            Battery Alexander’s investment strategy targets middle-market multi-family and retail investments, both as principal investors and joint venture equity partners. Battery Alexander brings the highest level of institutional sophistication to non-institutional real estate opportunities and on behalf of non-institutional investors.
           	<br> <br>
           	The firm also serves select institutional and non-institutional clients in an advisory capacity.  Battery Alexander helps clients source, structure and complete investment transactions, market investment and development opportunities, determine valuations, feasibility and hold-sell decisions, address undermanaged assets, and develop data-driven micro and macro-economic investment strategies.
           	<br> <br>
			Battery Alexander’s team has extensive experience investing in and managing multi-family, retail, office, industrial, triple-net and self-storage properties on a national basis and has completed advisory work for private sector, public sector and non-profit clients.

          </p>
        </div>
</body>

