<body id="mainpageimage">

        <div class="jumbotron center-block">
          <p>
            <strong>About Us</strong>
            <br><br>
            Battery Alexander Partners is a San Francisco Bay Area based real estate investment and advisory firm.
           	<br> <br>
            The firm is both a principal investor, acquiring and managing investments on behalf of  investor-partners, and an investment advisor, providing consulting and strategic research services to select investors and clients. 
            <br><br>
            Battery Alexander's investment focus is multi-family and retail properties which generate attractive and sustainable cash flows.
           	<br> <br>
			     Battery Alexander’s team has extensive experience investing in and managing commercial properties on a national basis and has completed advisory work for private sector, public sector and non-profit clients. Cumulatively, the Principals have completed more than $500 million in real estate transactions, and have managed over $1 billion in real estate. <%=link_to "Contact us", '/contactus' %> to learn more about our company and services.
			     <br>
          </p>

        </div>
</body>

