<body id="advisorypageimage">

<h1 id="pageheader">Advisory Services</h1>

<div class="jumbotron center-block">
	<p>Battery Alexander works with select clients to develop strategies for acquisition and asset management, to improve the value of existing real estate portfolios, to structure and complete acquisitions, dispositions, recapitalizations, capital raising, and to solve complex capital and operating challenges.
	<br><br>
	Advisory Services include helping clients:
	</p>
	<ul id="advul">
		<li>Source and complete investments</li>
		<li>Structure and complete acquisitions, dispositions, financings and leases</li>
		<li>Maximize the value and improve the operations of: </li>
			<ul>
			<li>Undermanaged assets</li>
			<li>Mixed-asset and geographically-diverse portfolios</li>
			</ul>
		<li>Plan and manage capital raising and recapitalizations</li>
			<ul>
			<li>Determine the highest and best use of unentitled and entitled land</li>
			<li>Develop an investment strategy based on macro and micro-economic research</li>
			<li>Create or update complex financial models and create or update feasibility analyses</li>
			</ul>
	</ul>
	<br>
	<p>
	Battery Alexander’s team has advised developers, landlords, private equity firms, high net worth individuals and families, companies, cities, non-profit organizations and government agencies. 
	</p>
</div>
</body>
