<body id="advisorypageimage">

<div class="jumbotron center-block">
	<p>
	<strong>Advisory Services</strong>
	<br><br>
	Battery Alexander works with select clients to develop strategies for acquisition and asset management, to improve the value of existing real estate portfolios, to structure and complete acquisitions, dispositions, recapitalizations, to raise capital, and to solve complex capital and operating challenges.
	<br><br>
	Advisory Services include helping clients:
	</p>
	<ul id="advul">
		<li>Source and complete investments</li>
		<li>Structure and complete dispositions, financings and leases of portfolio properties</li>
		
			
			<li>Plan and manage capital raising and recapitalizations:</li>
			<ul>
			<li>Develop investment strategy based on macro and micro-economic research</li>
			<li>Create or update complex financial models and create or update capital-raise feasibility analyses</li>
			<li> Prepare materials for use in capital raise activities </li>
			</ul>
			<li>Maximize the value of existing assets, or evaluate acquisitions: </li>
			<ul>
			<li>Develop strategic, long-term portfolio plan for mixed-asset and geographically-diverse portfolios</li>
			<li>Underwrite real estate acquisitions or dispositions, and develop models for use in project or property underwriting<br>
			<li>Determine the highest and best use of unentitled and entitled land</li>
			<li>Review and improve the operations of existing assets</li>
			</ul>
	</ul>
	<br>
	<p>
	Battery Alexander’s team has advised developers, landlords, private equity firms, high net worth individuals and families, companies, cities, non-profit organizations and government agencies. <%=link_to "Contact us", '/contactus' %> to learn more about our services.
	</p>
</div>
</body>
