<body id="advisorypageimage">

<div class="jumbotron center-block">
	<p>
	<strong>Advisory Services</strong>
	<br><br>
	Battery Alexander works with select clients to develop and execute strategies for acquisition and capitalization of real estate portfolios, and to solve complex capital and operating challenges.
	<br><br>
	Advisory Services include helping clients:
	</p>
	<ul id="advul">
		<li>Source and complete investments</li>
		<li>Structure and execute portfolio rebalancing and recapitalization</li>
		<li>Develop investment strategies based on macro and micro-economic research</li>		
		<li>Advise, analyze and execute fundraising efforts</li>	
	</ul>
	<br>
	<p>
	Battery Alexander’s team has advised developers, landlords, private equity firms, high net worth individuals and families, companies, cities, non-profit organizations and government agencies. <%=link_to "Contact us", '/contactus' %> to learn more about our services.
	</p>
</div>
</body>
