<body id="contactpageimage">

<div id="contactus">
	<p>
	<strong>Contact Us</strong>
	<br><br>

	Jake Kraft<br>
	<%=mail_to "kraft@batteryalexander.com", "kraft@batteryalexander.com" %>
	<br>
	510-984-4799
 
	<br><br>

	Martin Kemeny<br>
	<%=mail_to "kemeny@batteryalexander.com", "kemeny@batteryalexander.com" %>
	<br>
	415-215-6380

	<br><br>

	</p>
</div>
</body>
