<body id="contactpageimage">

<div id="contactus">
	<p>
	<strong>Contact Us</strong>
	<br><br>

	Jake Kraft<br>
	<%=mail_to "kraft@batteryalexander.com", "kraft@batteryalexander.com" %>
	<br>
	510-984-4799
 
	</p>
</div>
</body>
