<body id="homepageimage">
    <h1 id="introtext">Battery: a prepared artillery position used for the protection of an important asset
      such as a city, bridge or fortification</h1>

        

</body>