<body id="investmentspageimage">

        <div class="jumbotron center-block">
          <p>
            <strong>Investments</strong>
            <br><br>
            Battery Alexander Partners targets real estate investments in the Western United States, we focus on value-add multifamily and retail properties in histroically strong investment markets. 
            <br><br> 
            The company seeks to acquire real assets where a meaningful improvement in value can be created through capital investment, more aggressive management, or an improved financial structure. Our strategy is to identify investment properties where a problem may be solved or the property improved. We excel in evaluating issues, and bringing capital to bear in a way that solves a property's challenges, thereby unlocking investment value.
            <br><br>
            We pride ourselves on our ability to roll up our sleeves, and take the time to understand opportunities that other investors may overlook, or deem too complicated or management intensive. If you are a broker listing an asset, or an owner interested in selling your property, please contact us.
            <br><br>
            Battery Alexander considers each project based on its own unique parameters. However,  projects will typically have the following characteristics:
            </p>
            <ul id="advul">
                <li>Multifamily or retail product type</li>
                <li>Opportunity to add value to the property following acquisition</li>
                <li>Infill markets or strong retail locations</li>
            </ul>
            <br>
            <p>

            To contact us, please give us a call, our contact information is available here, or click here to send us an email. 


          </p>
        </div>
</body>
