<body id="investorspageimage">

        <div class="jumbotron center-block">
          <p>
          	<Strong>Investors</Strong>
          	<br><br>
           	Battery Alexander Partners provides its investors the opportunity to participate directly in cash flowing private real estate investments in the Western United States. The firm targets attractive risk adjusted returns by acquiring undermanaged or undercapitalized properties in high-quality real estate markets, and then improves their performance with strategic management or new capital investment.  The firm's core philosophy is to buy "Quality at a Discount." 
           	<br><br>
           	Battery Alexander focuses on multifamily and retail properties, two asset classes that have historically performed well in dense, high-income markets. The firm takes a long-term view on investment markets, and derives its investment strategy from a disciplined, research-based approach to market selection. This approach focuses not just on the quantity of earnings of a completed investment, but also on the quality of earnings. Investments with quality earnings are those that perform well across economic cycles.
			<br><br>			
			Please <%=link_to "contact us", '/contactus' %> to learn more about investing with Battery Alexander Partners.
          </p>
        </div>
</body>

