<body id="investorspageimage">

        <div class="jumbotron center-block">
          <p>
          	<Strong>Investors</Strong>
          	<br><br>
           	Battery Alexander Partners provides its investors opportunities to invest directly in private real estate assets in the Western United States, with a focus on California. The company targets above average risk adjusted returns by seeking value-add investments in high-quality real estate markets, a strategy we call, "Quality at a Discount." The company focuses on multifamily and retail assets, two classes that have historically performed well in high-quality markets.
           	<br><br>	
           	Battery Alexander's approach is to discover and capture unexploited value in real estate. In a typical investment, the company seeks to identify opportunities where the asset yields a better-than-market cash flow once improvements are complated. At the same time, the Battery Alexander takes a long-term view on investment markets, and benefits from a disciplined, research-based approach to asset selection, and focuses not just on the quantity of earnings of a completed investment, but also on the quality of earnings. 
           	<br><br>
           	Investors have the opportunity to benefit from the experience and relationships of Battery Alexander's Principals, and to augment their existing investment portfolio with a carefully selected set of direct real estate investments.
			<br><br>			
			We would be pleased to discuss how a direct investment in real estate can be a meaningful and valuable addition to your portfolio. Please contact Battery Alexander to learn more.
          </p>
        </div>
</body>

