<body id="investmentspageimage">

        <div class="jumbotron center-block">
          <p>
            <strong>Investments</strong>
            <br><br>
            Battery Alexander Partners targets middle-market real estate investments in the Western United States, both as a principal investor and as a joint venture equity partner. 

            <br><br>

            The company focuses on development, redevelopment and value-add projects, and seeks to acquire or provide equity for real estate projects where a meaningful improvement in value can be created through capital investment, more aggressive management, or an improved financial structure. Our strategy is to identify investment properties where a problem may be solved or the property improved. We excel in evaluating issues, and bringing capital to bear in a way that solves a property's challenges, thereby unlocking investment value.

            <br><br>

            Battery Alexander considers each project based on its own unique parameters. However,  projects will typically have the following characteristics:
            
            </p>
            <ul id="advul">
                <li>Multifamily or retail product type</li>
                <li>Development, redevelopment or value-add opportunity</li>
                <li>California infill market or strong retail location</li>
            </ul>
            <br>
            <p>

            If you are developing, improving or listing a project that you believe would be a good fit for an investment by Battery Alexander Partners, please contact us. 


          </p>
        </div>
</body>
