<body id="mainpageimage">
<h1 id="pageheader">Investments</h1>

        <div class="jumbotron center-block">
          <p>
            Battery Alexander’s investment strategy targets middle-market multi-family and retail investments, both as principal investors and joint venture equity partners. 

            <br><br>

            Large investment and development projects attract substantial competition from private equity firms, public REITs, pension and endowment investors and ultra-high net worth individuals and families, driving up prices and driving down profits. As a result, Battery Alexander focuses on small and medium sized development, redevelopment and value-add projects in the Western United States. Often, this real estate has been under-managed, under-capitalized, ignored or mismanaged by unsophisticated owners or managers with perverse incentives.

            <br><br>

            The firm partners with experienced local experts who have a demonstrated track-record and focus and who have access to off-market or superior investment opportunities but may not have access to appropriate capital sources. To its partners, Battery Alexander provides responsiveness, flexibility, support, operating and investing experience and a broad perspective on the market. Battery Alexander has a long term perspective on its partnerships and on the market, knowing that the best opportunities often arrive through the strongest relationships.

            <br><br>

            Battery Alexander’s team have worked with X partners (if this is a significant number) and completed over X in transaction volume (either number of deals or size)


          </p>
        </div>
</body>
