<body id="investmentspageimage">

        <div class="jumbotron center-block">
          <p>
            <strong>Investments</strong>
            <br><br>
            Battery Alexander Partners targets real estate investments in the Western United States, with a focus on value-add multifamily and retail properties in historically strong investment markets. 
            <br><br> 
            The company seeks to acquire real estate where meaningful improvements in value can be created through capital investment, strategic management, or an improved financial structure.
            <br><br>
            We pride ourselves on our ability to roll up our sleeves, and take the time to understand opportunities that other investors may overlook, or deem too complicated. If you are a broker listing an asset, or an owner interested in selling your property, please contact us.
            <br><br>
            Battery Alexander considers each project based on its own unique parameters. However,  projects will typically have the following characteristics:
            </p>
            <ul>
                <li>Multifamily or retail product type</li>
                <li>Opportunity to add value to the property following acquisition</li>
                <li>Infill markets or strong retail locations in the Western United States</li>
            </ul>
            <br>
            <p>

            If you have an opportunity you would like to discuss, please <%=link_to "contact us", '/contactus' %>. 


          </p>
        </div>
</body>
