<body id="investorspageimage">
<h1 id="pageheader">Investors</h1>

        <div class="jumbotron center-block">
          <p>
           	Battery Alexander Partners provides its investors access to private real estate investments which target superior risk-adjusted returns. Battery Alexander takes a “value-investing” focus to discover, capture and release trapped value in real estate with problems. By acquiring poorly managed and under-performing assets, Battery Alexander can apply its own and its partners expertise to update the management or buildings and improve the quality and value of the real estate. Investments with Battery Alexander also provide diversification with a variety of geographies and assets. 
			<br><br>
			Please contact Battery Alexander here in order to learn more about its current investment opportunities and vehicles.
          </p>
        </div>
</body>

