<body id="investorspageimage">

        <div class="jumbotron center-block">
          <p>
          	<Strong>Investors</Strong>
          	<br><br>
           	Battery Alexander Partners provides its investors opportunities to invest directly in private real estate assets in the Western United States, with a focus on California. The company targets above average risk adjusted returns by seeking investments in high-quality real estate markets, with a focus on assets that can be improved or redeveloped to meaningfully improve income.
           	<br><br>	
           	Battery Alexander's approach is to discover, capture and release trapped value in real estate. At the same time, the company benefits from a disciplined, market-driven approach to asset selection, and focuses not just on the quantity of earnings of a completed investment, but also on its quality of earnings. Investors have the opportunity to benefit from the experience and relationships of Battery Alexander's Principals, augmenting their investment portfolio with a carefully cultivated set of direct real estate investments.
			<br><br>
			The firm pursues investments both as a principal and through joint venture investments in partnership with experienced local experts. By partnering with skilled sponsors that have a proven track record, Battery Alexander Partners increases its access to off-market and superior investment opportunities.
			<br><br>			
			We would be pleased to discuss how a direct investment in real estate can be a meaningful and valuable addition to your portfolio. Please contact Battery Alexander to learn more.
          </p>
        </div>
</body>

