<body id="leadershippageimage">

<div class="jumbotron center-block">
	<strong>Our Company</strong>
            <br><br>
            Battery Alexander Partners is a San Francisco Bay Area based real estate investment and advisory firm.
           	<br> <br>
            The firm invests its capital through two platforms. First by acquiring and managing multifamily and retail investments on behalf of  investor-partners. And second, by making high-leverage development loans to developers of build-to-suit triple net properties throughout the United States. 
            <br><br>
            Battery Alexander Partners also provides advisory services. The company raises capital and provides real estate research and consulting services to select clients.
            <br> <br>
	     	Battery Alexander’s team has extensive experience investing in and managing commercial properties on a national basis and has completed advisory work for private sector, public sector and non-profit clients. Cumulatively, the Principals have completed more than $500 million in real estate transactions, and have managed over $1 billion in real estate.
	     	<br><br>

	<strong>Leadership Team</strong>
	<br><br>
	<div>
		<div id="leaderleft">
			<img src="/assets/MKPic.png" alt="Not Loaded" style="width: 150px; height: 150px;">
			Martin Kemeny<br>
			Managing Partner<br>
			415-215-6380
			<br>
			<%=mail_to "kemeny@batteryalexander.com", "send an email" %>
		</div>
		<div id="leaderright">
			Martin is a Managing Partner of Battery Alexander Partners, and is involved in both the advisory and principal investment businesses. Prior to founding Battery Alexander Partners he was a Vice President at Hanover Financial LLC, a joint venture investor in middle-market real estate development and value-add projects. During his time with Hanover, Martin played a leadership role in the acquisition and improvement of $200 million of real estate assets with a focus on development and value-add projects in the apartment and retail sectors. His responsibilities included sourcing and negotiating new investment opportunities; completing investment evaluation, underwriting and due diligence; closing and financing investments; overseeing development progress, and performing ongoing asset management of the portfolio. 
			<p></p>
			Prior to Hanover, Martin was a Ventures Associate at Hanover’s parent company, Marcus & Millichap, where he reported to the company’s Chief Financial Officer and was responsible for a wide range of strategic and operational projects. 
			<p></p>
			Martin holds a BBA degree from the University of Wisconsin at Madison, and an MBA from the University of California at Berkeley.
			<p></p>
		</div>
	</div>
	<br>
	<div>
		<div id="leaderleft">
			<img src="/assets/JKPic.png" alt="Not Loaded" style="width: 150px; height: 150px;">
			Jake Kraft<br>
			Managing Partner<br>
			510-984-4799
			<br>
			<%=mail_to "kraft@batteryalexander.com", "send an email" %>
		</div>
		<div id="leaderright">
			Jake is a Managing Partner of Battery Alexander Partners, and is involved in both the advisory and principal investment businesses. He brings a wealth of institutional knowledge to the company as a former Senior Vice President at Bristol Group Inc., a $2 billion + national real estate investment and development firm. At Bristol, Jake completed the acquisition of investment and development projects with a  total expected basis of $145 million and was directly responsible for managing $445 million of assets. Jake ran Bristol’s apartment, self-storage and gas station businesses nationally and co-ran the industrial businesses in New Jersey and Seattle. His responsibilities included sourcing and underwriting acquisitions, performing all acquisition due diligence, designing and executing an asset’s renovation and repositioning and ultimately disposing of assets at the end of their life-cycle. 
			<p></p>
			Jake ran the hiring program at Bristol Group, trained and managed the firm’s Associates, and was the overall lead for the firm’s macro and micro-economic research efforts, including the evaluation and implementation of investments in new geographic markets. Prior to Bristol, Jake ran a real estate consulting firm with clients including private equity firms, receivers, and asset management firms. 
			<p></p>
			Jake has a JD/MBA from Stanford University, an MSc from Oxford University, and a BA from the University of Pennsylvania. He is a Co-Chair of the ULI San Francisco Programs Committee, a member of a ULI Product Council and a licensed California real estate broker.
			<p></p>
		</div>
	</div>
  <br>
  <div>
    <div id="leaderleft">
      <img src="/assets/RBPic3.jpg" alt="Not Loaded" style="width: 150px; height: 150px;">
      Rob Banovac<br>
      Director of Real Estate<br>
      415-295-5808
      <br>
      <%=mail_to "banovac@batteryalexander.com", "send an email" %>
    </div>
    <div id="leaderright">
      Rob is the Director of Real Estate at Battery Alexander Partners, where he oversees new acquisitions and asset management of the firm’s principal investments.  Prior to joining Battery Alexander Partners, Rob was a Senior Project Manager with Bristol Group Inc. where he oversaw four million square feet of industrial and office properties, including the development of a $90 million business park in Florida.  Rob has extensive experience in residential construction and development having founded a family construction business in Arizona.  He previously worked at Countrywide Commercial Real Estate Finance underwriting CMBS loans on multifamily, retail, office and hotel properties.      <p></p>
      <p></p>
      Rob graduated with a BA from the University of Pennsylvania and received an MBA from the University of California, Los Angeles.  He is a licensed California real estate broker, a licensed general building contractor, and has certificates in construction estimating and practices from San Diego State University.  Rob is an active volunteer with the ULI San Francisco Programs Committee and sits on the executive board of the UCLA Ziman Center Real Estate Alumni Group.      <p></p>
    </div>
  </div>
</div>

</body>