<body id="investmentspageimage">

        <div class="jumbotron center-block">
          <p>
            <strong>Platforms</strong>
            <br><br>
            Through its affiliates, Battery Alexander Partners targets high-quality real estate investment opportunities across the United States. The company operates two investment platforms:
            <br><br>
            <strong>Battery Alexander Realty Capital</strong>
            <br><br>            
            Battery Alexander Realty Capital is a private lender focused on providing high-leverage (90-100% LTC) debt for developers with best-in-class triple net development projects throughout the country. Learn more about our programs at <a href="http://www.barealtycapital.com"> Battery Alexander Realty Capital.</a>
            <br><br>
            <strong>Battery Alexander Direct Investments</strong>
            <br><br>
            Battery Alexander Partners makes direct investments in cash-flow generating multifamily and retail properties in the Western United States, with a focus on historically strong investment markets. 
            <br><br>
            If you are a broker listing an asset, or an owner interested in selling your property, please <%=link_to "contact us", '/contactus' %>.

          </p>
        </div>
</body>
