@import "bootstrap";

html {
  overflow-y: scroll;
  min-width: 1200px;
}
body {

  padding-bottom: 10%;
  font-size: 17px;
  font: Verdana;


}
section {overflow: auto;}
br {

}

.jumbotron {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.9);
  width: 70%;
  height: 100%;
  margin-top: 1%;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;

}

.jumbotron p {
  font-size: 17px;


}

#CU {
  color: white;

}


.navbar{
  background-color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.95);
  font-size: 15px;
  padding-top: 4%;
  padding-right: 14.1%;
  padding-left: 14.1%;

}

.navbar-brand{
  position: absolute;
  left: 15%;
  top: 5%;

}

#leaderleft {
  float: left;
  horizontal-align: left;
  width: 175px;
  padding-top: 4px;
  font-size: 17px;
  font: Verdana;
}

#leaderright {
  padding-left: 175px;
  font-size: 17px;
  font: Verdana;

}

#advul{
font-size: 17px;
font-weight: 200;
}

#contactus{

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  width: 48%;
  height: 100%;
  font-size: 17px;
  margin-top: 1%;
  margin-left: 42%;
  border-style: solid;
  border-color: lightgray;
  border-width: 0.5px;

}

#introtext {
  color: lightgray;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(25, 25, 25, 0.6);
  margin-left: 55%;
  margin-right: 14.05%;
  padding-left: 1.0%;
  padding-right: 1.0%;
  margin-top: 30%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  vertical-align: bottom;
  font-size: 22px;
  text-shadow: #2E2F30;
}
.center {text-align: center;}
.center h1 {margin-bottom: 10px}

#pageheader {
  color: black;
  font-weight: bold;
  padding-left: 15%;
  text-align: left;

}

#mainpageimage{
  background-image: url('SFByNight.jpg');
  background-repeat: no-repeat;
  background-size: cover;


}

#homepageimage{
  background-image: url('SFSkyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;



}

#investmentspageimage{
  background-image: url('NYCApts3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#investorspageimage{
  background-image: url('GGBridge.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#advisorypageimage{
  background-image: url('Advisory2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#leadershippageimage {
  background-image: url('Leadership.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#contactpageimage{
  background-image: url('SFContact2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  color: black;
  font-size: 22px;
  text-align: left;


}

#logo:hover {
  color: darkgray;
  text-decoration: none;

}

#copyright {
  text-align: right;
  background-color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.95);
  font-size: 15px;
  padding-right: 2%;
  padding-top: 15px;
  position: fixed;
  bottom: 0px;
  width: 100%;


}


