@import "bootstrap";

html {overflow-y: scroll;}
body {padding-top: 60px;}
section {overflow: auto;}
br {

}

.jumbotron {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  width: 75%;
  height: 100%;
  font-size: 1.2em;
  margin-top: 25px;
  font: Helvetica;

}

.navbar{
  background-color: whitesmoke;
  font: Helvetica;
  font-size: 1.2em;
}

#advul{
  font-size: 1.2em;
}


#introtext {
  color: black;
  padding-right: 2.5%;
  padding-left: 60%;
  margin-bottom: 25px;
  text-align: right;
  font: Helvetica;
  font-size: 2.0em;
}
.center {text-align: center;}
.center h1 {margin-bottom: 10px}

#pageheader {
  color: black;
  font-weight: bold;
  padding-left: 12.5%;

}

#mainpageimage{
  background-image: url('Battery%202.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#homepageimage{
  background-image: url('Welcome-to-the-Battery-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#investmentspageimage{
  background-image: url('Investments.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#investorspageimage{
  background-image: url('Investors3.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#advisorypageimage{
  background-image: url('Battery-plan 2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#contactpageimage{
  background-image: url('Contact3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  color: forestgreen;
  font-weight: bold;
  font-size: 1.2em;

}

#logo:hover {
  color: mediumseagreen;
  text-decoration: none;

}

#copyright {
  text-align: right;
  padding-top: 15px;
  padding-right: 30px;


}


